/*----------------------------------------settings section----------------------------------*/
#settings {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#settings-btn, #configuration-btn {
    position: absolute;
    left: 0;
    right: 0;
    gap: 50px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: #2672966e;
    z-index: 1;
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 5px 20px 0 black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#settings-btn > button, #configuration-btn > button {
    width: 300px;
    border-radius: 5px;
    border: none;
    height: 40px;
    background-color: #00b0ff7d;
    box-shadow: -1px 1px 7px -2px black;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#settings > img {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

/*----------------------------------------home section----------------------------------*/
#home {
    position: relative;
    /* width: 98vw; */
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#home > img {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#home > div:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 25px 0 #0fe4ffa6;
    background: #00bcd454;
}

#home > div {
    display: flex;
    width: 250px;
    height: 300px;
    background-color: #2672966e;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 0px 5px 20px 0 black;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
}

#home > h1 {
    position: absolute;
    z-index: 1;
    top: 0;
    margin-top: 15px;
    color: white;
    font-size: 70px;
    font-weight: bold;
}

.ships {
    width: 100%;
}
/*-------------------------------------------------------status section------------------------------------------------*/
#status {
    position: absolute;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #000000b0;
    z-index: 5;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#mission-fail{
    border-radius: 20px;
    gap: 50px;
    display: flex;
    width: 400px;
    height: 350px;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#mission-fail>h1{
    margin: 0;
    color: white;
}
#mission-fail>button{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 6px -4px black;
    background-color: #1095ff;
    color: white;
    font-size: 22px;
}



















#level-one {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#level-one > img:nth-child(1) {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#selected-ship {
    position: absolute;
    width: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    /*margin: auto;*/
    height: 100px;
}

.child-ships {
    position: absolute;
    z-index: 1;
}

#child-ship1 {
    top: -100px;
    left: 650px;
}

#child-ship2 {
    top: -550px;
    left: 650px;
}

#child-ship3 {
    top: -350px;
    left: 800px;
}

#child-ship4 {
    top: -800px;
    left: 80px;
}

#child-ship5 {
    top: -800px;
    right: 80px;
}

#child-ship6 {
    top: -350px;
    left: 500px;
}

#child-ship7 {
    top: -700px;
    left: 250px;
}

#child-ship8 {
    top: -700px;
    right: 250px;
}

#child-ship9 {
    top: -950px;
    left: 350px;
}

#child-ship10 {
    top: -950px;
    right: 350px;
}
